<ng-container *ngIf="bracket$ |async as bracket">
	<div class="bracket-grid" style="grid-template-rows:repeat(82,var(--grid-row-height));grid-template-columns:2 minmax(12em, 12em) 3em minmax(12em, 12em);">
		<div class="bracket-grid-header round1">
			<div class="bracket-header-content">Winner eighths</div>
		</div>
		<div class="bracket-spacer round1"></div>
		<div *ngFor="let p of bracket['bracket']['upper_bracket']['matches']['w1_1']" class="bracket-team round1" (click)="onMatchClick('w1_1')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round1"></div>
		<div class="bracket-spacer round1"></div>
		<div *ngFor="let p of bracket['bracket']['upper_bracket']['matches']['w1_2']" class="bracket-team round1" (click)="onMatchClick('w1_2')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round1"></div>
		<div class="bracket-spacer round1"></div>
		<div *ngFor="let p of bracket['bracket']['upper_bracket']['matches']['w1_3']" class="bracket-team round1" (click)="onMatchClick('w1_3')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round1"></div>
		<div class="bracket-spacer round1"></div>
		<div *ngFor="let p of bracket['bracket']['upper_bracket']['matches']['w1_4']" class="bracket-team round1" (click)="onMatchClick('w1_4')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round1"></div>
		<div class="bracket-spacer round1"></div>
		<div *ngFor="let p of bracket['bracket']['upper_bracket']['matches']['w1_5']" class="bracket-team round1" (click)="onMatchClick('w1_5')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round1"></div>
		<div class="bracket-spacer round1"></div>
		<div *ngFor="let p of bracket['bracket']['upper_bracket']['matches']['w1_6']" class="bracket-team round1" (click)="onMatchClick('w1_6')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round1"></div>
		<div class="bracket-spacer round1"></div>
		<div *ngFor="let p of bracket['bracket']['upper_bracket']['matches']['w1_7']" class="bracket-team round1" (click)="onMatchClick('w1_7')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round1"></div>
		<div class="bracket-spacer round1"></div>
		<div *ngFor="let p of bracket['bracket']['upper_bracket']['matches']['w1_8']" class="bracket-team round1" (click)="onMatchClick('w1_8')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round1"></div>
		<div class="bracket-line round1" style="grid-row:span 7;"></div>
		<div class="bracket-line z-down round1" style="grid-row:span 4;"></div>
		<div class="bracket-line round1" style="grid-row:span 2;"></div>
		<div class="bracket-line z-up round1" style="grid-row:span 4;"></div>
		<div class="bracket-line round1" style="grid-row:span 10;"></div>
		<div class="bracket-line z-down round1" style="grid-row:span 4;"></div>
		<div class="bracket-line round1" style="grid-row:span 2;"></div>
		<div class="bracket-line z-up round1" style="grid-row:span 4;"></div>
		<div class="bracket-line round1" style="grid-row:span 10;"></div>
		<div class="bracket-line z-down round1" style="grid-row:span 4;"></div>
		<div class="bracket-line round1" style="grid-row:span 2;"></div>
		<div class="bracket-line z-up round1" style="grid-row:span 4;"></div>
		<div class="bracket-line round1" style="grid-row:span 10;"></div>
		<div class="bracket-line z-down round1" style="grid-row:span 4;"></div>
		<div class="bracket-line round1" style="grid-row:span 2;"></div>
		<div class="bracket-line z-up round1" style="grid-row:span 4;"></div>
		<div class="bracket-grid-header round2">
			<div class="bracket-header-content">Winner quarters</div>
		</div>
		<div class="bracket-spacer round2" style="grid-row:span 5;"></div>
		<div class="bracket-spacer round2"></div>
		<div *ngFor="let p of bracket['bracket']['upper_bracket']['matches']['w2_1']" class="bracket-team round2" (click)="onMatchClick('w2_1')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round2"  style="grid-row:span 12;"></div>
		<div *ngFor="let p of bracket['bracket']['upper_bracket']['matches']['w2_2']" class="bracket-team round2" (click)="onMatchClick('w2_2')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round2"  style="grid-row:span 12;"></div>
		<div *ngFor="let p of bracket['bracket']['upper_bracket']['matches']['w2_3']" class="bracket-team round2" (click)="onMatchClick('w2_3')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round2"  style="grid-row:span 12;"></div>
		<div *ngFor="let p of bracket['bracket']['upper_bracket']['matches']['w2_4']" class="bracket-team round2" (click)="onMatchClick('w2_4')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round2"></div>
		<div class="bracket-line round2" style="grid-row:span 12;"></div>
		<div class="bracket-line z-down round2" style="grid-row:span 9;"></div>
		<div class="bracket-line round2" style="grid-row:span 2;"></div>
		<div class="bracket-line z-up round2" style="grid-row:span 9;"></div>
		<div class="bracket-line round2" style="grid-row:span 20;"></div>
		<div class="bracket-line z-down round2" style="grid-row:span 9;"></div>
		<div class="bracket-line round2" style="grid-row:span 2;"></div>
		<div class="bracket-line z-up round2" style="grid-row:span 9;"></div>
		<div class="bracket-grid-header round3">
			<div class="bracket-header-content">Winner semis</div>
		</div>
		<div class="bracket-spacer round3" style="grid-row:span 15;"></div>
		<div class="bracket-spacer round3"></div>
		<div *ngFor="let p of bracket['bracket']['upper_bracket']['matches']['w3_1']" class="bracket-team round3" (click)="onMatchClick('w3_1')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round3"  style="grid-row:span 32;"></div>
		<div *ngFor="let p of bracket['bracket']['upper_bracket']['matches']['w3_2']" class="bracket-team round3" (click)="onMatchClick('w3_2')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round3"  style="grid-row:span 12;"></div>
		<div class="bracket-line round3" style="grid-row:span 22;"></div>
		<div class="bracket-line z-down round3" style="grid-row:span 19;"></div>
		<div class="bracket-line round3" style="grid-row:span 2;"></div>
		<div class="bracket-line z-up round3" style="grid-row:span 19;"></div>
		<div class="bracket-grid-header round4">
			<div class="bracket-header-content">Winner final</div>
		</div>
		<div class="bracket-spacer round4" style="grid-row:span 35;"></div>
		<div class="bracket-spacer round4"></div>
		<div *ngFor="let p of bracket['bracket']['upper_bracket']['matches']['w4_1']" class="bracket-team round4" (click)="onMatchClick('w4_1')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-line horizontal round4" style="grid-row:span 42;"></div>
		<div class="bracket-grid-header round5">
			<div class="bracket-header-content">Grand final</div>
		</div>
		<div class="bracket-spacer round5" style="grid-row:span 35;"></div>
		<div class="bracket-spacer round5"></div>
		<div *ngFor="let p of bracket['bracket']['upper_bracket']['matches']['w5_1']" class="bracket-team round5" (click)="onMatchClick('w5_1')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
	</div>

	<!--
		LOSER BRACKET 
	-->

	<div class="bracket-grid" style="grid-template-rows:repeat(41,var(--grid-row-height));grid-template-columns:2 minmax(12em, 12em) 3em minmax(12em, 12em);">
		<div class="bracket-grid-header round1">
			<div class="bracket-header-content">Loser round 1</div>
		</div>
		<div class="bracket-spacer round1"></div>
		<div *ngFor="let p of bracket['bracket']['lower_bracket']['matches']['l1_1']" class="bracket-team round1" (click)="onMatchClick('l1_1')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round1"></div>
		<div class="bracket-spacer round1"></div>
		<div *ngFor="let p of bracket['bracket']['lower_bracket']['matches']['l1_2']" class="bracket-team round1" (click)="onMatchClick('l1_2')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round1"></div>
		<div class="bracket-spacer round1"></div>
		<div *ngFor="let p of bracket['bracket']['lower_bracket']['matches']['l1_3']" class="bracket-team round1" (click)="onMatchClick('l1_3')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round1"></div>
		<div class="bracket-spacer round1"></div>
		<div *ngFor="let p of bracket['bracket']['lower_bracket']['matches']['l1_4']" class="bracket-team round1" (click)="onMatchClick('l1_4')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round1"></div>
		<div class="bracket-line round1" style="grid-row:span 6;"></div>
		<div class="bracket-line horizontal round1" style="grid-row:span 1;"></div>
		<div class="bracket-line round1" style="grid-row:span 9;"></div>
		<div class="bracket-line horizontal round1" style="grid-row:span 1;"></div>
		<div class="bracket-line round1" style="grid-row:span 9;"></div>
		<div class="bracket-line horizontal round1" style="grid-row:span 1;"></div>
		<div class="bracket-line round1" style="grid-row:span 9;"></div>
		<div class="bracket-line horizontal round1" style="grid-row:span 1;"></div>
		<div class="bracket-grid-header round2">
			<div class="bracket-header-content">Loser round 2</div>
		</div>
		<div class="bracket-spacer round2"></div>
		<div *ngFor="let p of bracket['bracket']['lower_bracket']['matches']['l2_1']" class="bracket-team round2" (click)="onMatchClick('l2_1')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round2"></div>
		<div class="bracket-spacer round2"></div>
		<div *ngFor="let p of bracket['bracket']['lower_bracket']['matches']['l2_2']" class="bracket-team round2" (click)="onMatchClick('l2_2')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round2"></div>
		<div class="bracket-spacer round2"></div>
		<div *ngFor="let p of bracket['bracket']['lower_bracket']['matches']['l2_3']" class="bracket-team round2" (click)="onMatchClick('l2_3')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round2"></div>
		<div class="bracket-spacer round2"></div>
		<div *ngFor="let p of bracket['bracket']['lower_bracket']['matches']['l2_4']" class="bracket-team round2" (click)="onMatchClick('l2_4')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round2"></div>
		<div class="bracket-line round2" style="grid-row:span 7;"></div>
		<div class="bracket-line z-down round2" style="grid-row:span 4;"></div>
		<div class="bracket-line round2" style="grid-row:span 2;"></div>
		<div class="bracket-line z-up round2" style="grid-row:span 4;"></div>
		<div class="bracket-line round2" style="grid-row:span 10;"></div>
		<div class="bracket-line z-down round2" style="grid-row:span 4;"></div>
		<div class="bracket-line round2" style="grid-row:span 2;"></div>
		<div class="bracket-line z-up round2" style="grid-row:span 4;"></div>
		<div class="bracket-grid-header round3">
			<div class="bracket-header-content">Loser eighths</div>
		</div>
		<div class="bracket-spacer round3" style="grid-row:span 5;"></div>
		<div class="bracket-spacer round3"></div>
		<div *ngFor="let p of bracket['bracket']['lower_bracket']['matches']['l3_1']" class="bracket-team round3" (click)="onMatchClick('l3_1')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round3"  style="grid-row:span 12;"></div>
		<div *ngFor="let p of bracket['bracket']['lower_bracket']['matches']['l3_2']" class="bracket-team round3" (click)="onMatchClick('l3_2')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round3"></div>
		<div class="bracket-line round3" style="grid-row:span 11;"></div>
		<div class="bracket-line horizontal round3" style="grid-row:span 1;"></div>
		<div class="bracket-line round3" style="grid-row:span 19;"></div>
		<div class="bracket-line horizontal round3" style="grid-row:span 1;"></div>
		<div class="bracket-grid-header round4">
			<div class="bracket-header-content">Loser quarters</div>
		</div>
		<div class="bracket-spacer round4" style="grid-row:span 5;"></div>
		<div class="bracket-spacer round4"></div>
		<div *ngFor="let p of bracket['bracket']['lower_bracket']['matches']['l4_1']" class="bracket-team round4" (click)="onMatchClick('l4_1')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round4"  style="grid-row:span 12;"></div>
		<div *ngFor="let p of bracket['bracket']['lower_bracket']['matches']['l4_2']" class="bracket-team round4" (click)="onMatchClick('l4_2')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round4"></div>
		<div class="bracket-line round4" style="grid-row:span 12;"></div>
		<div class="bracket-line z-down round4" style="grid-row:span 9;"></div>
		<div class="bracket-line round4" style="grid-row:span 2;"></div>
		<div class="bracket-line z-up round4" style="grid-row:span 9;"></div>
		<div class="bracket-grid-header round5">
			<div class="bracket-header-content">Loser semi</div>
		</div>
		<div class="bracket-spacer round5" style="grid-row:span 15;"></div>
		<div class="bracket-spacer round5"></div>
		<div *ngFor="let p of bracket['bracket']['lower_bracket']['matches']['l5_1']" class="bracket-team round5" (click)="onMatchClick('l5_1')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round5"></div>
		<div class="bracket-line round5" style="grid-row:span 21;"></div>
		<div class="bracket-line horizontal round5" style="grid-row:span 1;"></div>
		<div class="bracket-grid-header round6">
			<div class="bracket-header-content">Loser final</div>
		</div>
		<div class="bracket-spacer round6" style="grid-row:span 16;"></div>
		<div *ngFor="let p of bracket['bracket']['lower_bracket']['matches']['l6_1']" class="bracket-team round6" (click)="onMatchClick('l6_1')">
			<div class="bracket-team-name"><maniaplanet-name [name]="players[p.name]"></maniaplanet-name></div>
			<div class="bracket-team-points">{{p.score}}</div>
		</div>
		<div class="bracket-spacer round6"></div>
	</div>
</ng-container>