<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/"><img src="./assets/images/icon.png" width="64" height="64" class="logo"></a>
        <button class="navbar-toggler" (click)="isCollapsed=!isCollapsed" type="button" 
            aria-controls="navbarSupportedContent" [attr.aria-expanded]="isCollapsed" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/bracket">Bracket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/servers">Servers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/maps">Maps</a>
                </li>
            </ul>
        </div>
    </div>
</nav>