<navbar></navbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="bg-dark">
  <a href="https://discord.gg/qWmFQwhE7e" target="_blank"><img class="navImg" src="./assets/images/discord.svg"></a>
  <a href="https://maniaservers.com/" target="_blank"><img class="navImg2" src="./assets/images/maniaServers.png"></a>
  <a href="https://docs.google.com/spreadsheets/d/1VBNwUlzYvu3Ncsg7HgPH92q25IFHINcIvxbhdcIYrUY/edit#gid=673016289" target="_blank"><img class="navImg" src="./assets/images/stats.png"> Stats by FloFloF1 </a>
</footer>