<a [href]="map.maniaExLink" target="_blank">
    <div class="map-image" [style.background-image]='"url(assets/images/maps/"+map.imageSrc+")"'>
        <div class="filter"></div>
        <div class="hide">
            <p class="text-center innerP">
                <maniaplanet-name [name]="map.name"></maniaplanet-name><br>
                <u>Author</u><br> {{map.author}}<br>
                <u>Author time</u><br>{{map.authorTime|millisecToMinSecMilli}}<br>
            </p>
        </div>
    </div>
</a>