@import "~bootstrap/dist/css/bootstrap.css";
body{
    background-color: #181a1c;
    color: white;
    margin-bottom: 65px;
}
html {
    position: relative;
    min-height: 100%;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-top: 10px;
    text-align: center;
}
footer a{
    margin-right: 20px;
    color: white;
    text-decoration: none;
}
footer a:hover{
    color:white
}
@media screen and (max-width: 600px) {
    body {
        margin-bottom: 85px;
    }
    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 80px;
        text-align: center;
    }
}
.navImg{
    height: 70%;
}
.navImg2{
    height: 50%;
}