<h2>What is the RPG Brawl</h2>
<p>
    The RPG Brawl is a 1vs1vs1vs1 RPG competition on TrackMania² Stadium. 7 maps were picked to decide the best 32 players out there.
</p>
<h2>Rules</h2>
<p>3 dedicated servers will be opened with the 7 maps spread across them. Then a TA/seeding session will start for a full month.<br>
Your rank will be decided by your average local record on these maps.<br>
The top 32 will be qualified for the playoffs, and will then compete in matches with round mode up to 70 points.<br>
At the start of a match, all 4 drivers will ban a map, and they will play on the remaining 3.<br>
It's a double elimination system, which means there is a loser bracket.<br>
</p>
<h2>Cashprize</h2>
<ul>
    <li>1st - 200€ + a glass trophy</li>
    <li>2nd - 120€</li>
    <li>3rd - 70€</li>
    <li>4th - 40€</li>
</ul>
<h2>Staff</h2>
<ul>
    <li>Organizers : Mitryani - astronaut</li>
    <li>Match admins : Futa - Morhpeo - Sheeps - Jan - TheSuperNoob - Chaoshand</li>
    <li>Dev : Wowit -  Astronaut</li>
    <li>Servers : Micmo</li>
</ul>